#include "Polaris.dtsi"
#include "Polaris_L_interior.dsti"
#include <input/processors/runtime-input-processor.dtsi>

/ {
    chosen {
        zephyr,display = &oled;
    };
};

&pinctrl {    
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 28)>,
                    <NRF_PSEL(TWIM_SCL, 0, 29)>;
            bias-pull-up;
        };
    };
      
    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 28)>,
                    <NRF_PSEL(TWIM_SCL, 0, 29)>;
            low-power-enable;
            bias-pull-up;
        };
    };
};

&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>; 
    
    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };
    
    shifter: mcp230xx@20 {
        status = "okay";
        compatible = "microchip,mcp230xx";
        gpio-controller;
        reg = <0x20>;
        #gpio-cells = <2>;
        ngpios = <16>;
        int-gpios = <&xiao_d 7 GPIO_ACTIVE_LOW>;
    };
    
    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        matrix {
            kscan = <&kscan1>;
        };
        direct {
            kscan = <&kscan2>;
            row-offset = <8>;
        };
    };

    kscan1: kscan1 {
        compatible = "zmk,kscan-gpio-charlieplex";
        interrupt-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW)>;
        gpios
            = <&shifter 0 (GPIO_ACTIVE_LOW)>
            , <&shifter 1 (GPIO_ACTIVE_LOW)>
            , <&shifter 2 (GPIO_ACTIVE_LOW)>
            , <&shifter 3 (GPIO_ACTIVE_LOW)>
            , <&shifter 4 (GPIO_ACTIVE_LOW)>
            , <&shifter 5 (GPIO_ACTIVE_LOW)>
            ;
    };
    
    kscan2: kscan2 {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios
            = <&shifter 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&shifter 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};