#include "Polaris.dtsi"
#include "Polaris_L_interior.dsti"
#include <input/processors/runtime-input-processor.dtsi>

/ {
    chosen {
        zephyr,display = &oled;
    };
};

&pinctrl {    
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                    <NRF_PSEL(TWIM_SCL, 1, 15)>;
            bias-pull-up;
        };
    };
      
    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 14)>,
                    <NRF_PSEL(TWIM_SCL, 1, 15)>;
            low-power-enable;
            bias-pull-up;
        };
    };
};

&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>; 
    
    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };
    
    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        matrix {
            kscan = <&kscan1>;
        };
        direct {
            kscan = <&kscan2>;
            row-offset = <8>;
        };
    };

    kscan1: kscan1 {
        compatible = "zmk,kscan-gpio-charlieplex";
        interrupt-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW)>;
        gpios
            = <&gpio0  3 (GPIO_ACTIVE_LOW)>
            , <&gpio0 28 (GPIO_ACTIVE_LOW)>
            , <&gpio0 29 (GPIO_ACTIVE_LOW)>
            , <&gpio0 15 (GPIO_ACTIVE_LOW)>
            , <&gpio0 19 (GPIO_ACTIVE_LOW)>
            , <&gpio1  1 (GPIO_ACTIVE_LOW)>
            ;
    };
    
    kscan2: kscan2 {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios
            = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};